@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary: #4ab493;
$primaryDark: #248271;
$whiteText: #f6f6f6;
$darkText: #1e1e1e;
$disabled: #f3f3f3;
$gradientGreen: linear-gradient(90deg, #4ab493, #0d645d);
$gradientBlack: linear-gradient(180deg, #707070, #1c1c1c);

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.App {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #ffffff;
  z-index: 999;
  position: fixed;
  top: 0px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 1em 2em;
}
.brand__logo {
  width: 130px;
}
.header__mobile__btn {
  border: none;
  display: none;
  cursor: pointer;
  background-color: #4ab493;
  color: white;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border-top-right-radius: 0px;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__link {
  position: relative;
  margin-left: 1em;
}
.nav__link__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  background-color: #242424;
}
.nav__link__content {
  padding: 0.6em 1em;
  border-radius: 50px;
  border-top-right-radius: 0px;
  text-decoration: none;
}
.nav__link__input:hover ~ .nav__link__content,
.nav__link__input:checked ~ .nav__link__content {
  transition: 300ms ease-in-out;
  color: white;
  background: $primary;
}
.main__container {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  margin: 0px auto;
}
.containers__heading__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.containers__heading {
  font-size: 30px;
  font-weight: 600;
  color: $primaryDark;
}
.containers__heading__line {
  width: 200px;
  height: 6px;
  border-radius: 6px;
  margin-top: 0.2em;
  background: $gradientGreen;
}
.footer__container {
  width: 100%;
  height: fit-content;
  min-height: 600px;
  position: relative;
  top: -4px;
}
.footer__container__bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer__container__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
}
.footer__container__overlay__specialist {
  width: 100%;
  max-width: 1440px;
  height: 400px;
  margin-top: -10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__container__overlay__specialist__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}
.footer__container__overlay__specialist__card {
  width: 23%;
  height: fit-content;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__container__overlay__specialist__card__img__wrapper {
  width: 190px;
  height: 190px;
  border-radius: 190px;
  border: 4px solid $primary;
  padding: 4px;
  background-color: $whiteText;
}
.footer__container__overlay__specialist__card__img {
  width: 100%;
}
.footer__container__overlay__specialist__card__heading {
  font-size: 16px;
  color: $whiteText;
  font-weight: 700;
  margin-top: 0.8em;
}
.footer__container__overlay__specialist__card__para {
  font-size: 14px;
  color: $whiteText;
  font-weight: 500;
  margin-top: 0.2em;
  text-align: center;
}
.footer__container__overlay__specialist__card__socials__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin-top: 0.7em;
}
.footer__container__overlay__specialist__card__socials__container svg {
  width: 20px;
  height: 20px;
  display: flex;
  color: $whiteText;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .footer__container {
    height: 700px;
  }
}
@media (max-width: 800px) {
  .header__mobile__btn {
    display: flex;
  }
  .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    background-color: white;
    width: 88%;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 1em;
  }
  .nav__link {
    margin-left: 0em;
    margin-bottom: 0.5em;
    width: 100%;
  }
}
@media (max-width: 750px) {
  .footer__container__overlay__specialist__wrapper {
    flex-direction: column;
  }
  .footer__container__overlay__specialist__card {
    width: 90%;
  }
  .footer__container {
    height: 1000px;
  }
  .footer__container__overlay__specialist__card__socials__container {
    width: 40%;
  }
}
@media (max-width: 750px) {
  .footer__container__overlay__specialist {
    margin-top: -40em;
  }
  .footer__container__overlay__specialist__card__heading {
    color: $darkText;
  }
  .footer__container__overlay__specialist__card__para {
    color: $darkText;
  }
  .footer__container__overlay__specialist__card__socials__container a svg {
    color: $darkText;
  }
}
