.main__container__jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  position: relative;
}
.main__container__jumbotron__main__bg {
  width: 100%;
  background-size: cover;
}
.main__illustration {
  width: 730px;
}
.main__container__jumbotron__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.main__container__jumbotron__overlay__heading {
  font-size: 30px;
  color: $darkText;
  font-weight: 600;
  margin-bottom: 0.2em;
}
.main__container__jumbotron__overlay__heading span {
  color: $primary;
}
.main__container__jumbotron__overlay__para {
  font-size: 22px;
  color: $darkText;
}
.services__container {
  width: 100%;
  height: 70vh;
  margin-top: 2em;
}
.services__container__card__wrapper {
  width: 300px;
  display: flex;
  height: 100%;
  min-height: 280px;
  background-color: $disabled;
  border-radius: 30px;
  padding: 2em;
  position: relative;
  cursor: pointer;
  margin-top: 2em;
}
.services__container__card__wrapper:hover
  .services__container__card__wrapper__svg__hover {
  display: flex;
  transition: 300ms ease-in-out;
}

.services__container__card__wrapper:hover {
  background: $gradientGreen;
  transform: scale(1.03);
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}
.services__container__card__wrapper:hover .services__container__card__text {
  color: $whiteText;
}
.services__container__card__wrapper__svg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services__container__card__wrapper__svg__hover {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.services__container__card__text {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: 18px;
  font-weight: bold;
}
.services__container__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 4em 0em;
}
.addons__container {
  width: 100%;
  height: 60vh;
  position: relative;
}
.AddonSectionBg {
  width: 100%;
}
.addons__container__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.addons__container__content__card {
  width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  min-height: 280px;
  background: $gradientBlack;
  border-radius: 30px;
  padding: 2em;
  position: relative;
  cursor: pointer;
  margin-top: 2em;
}
.addons__container__content__card:hover {
  background: $gradientGreen;
  transform: scale(1.03);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  transition: 300ms ease-in-out;
}
.addons__container__content__card__svg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addons__container__content__card__svg__hover {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addons__container__content__card__text {
  text-align: center;
  align-self: flex-end;
  color: $whiteText;
  font-size: 18px;
  font-weight: bold;
}
.addons__container__content__card__svg {
  width: 120px;
}
.welcome__container {
  width: 100%;
  max-height: 500px;
  position: relative;
}
.welcomeBg {
  width: 100%;
}
.welcome__container__illustration {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.doctorsPic {
  width: 700px;
}
.welcome__container__overlay__heading {
  font-size: 30px;
  color: $whiteText;
  font-weight: 600;
  margin-bottom: 0.2em;
}
.welcome__container__overlay__para {
  font-size: 22px;
  color: $whiteText;
  font-weight: 500;
  margin-bottom: 1em;
}
@media (max-width: 620px) {
  .services__container__content {
    justify-content: center;
    align-items: center;
  }
  .main__illustration {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .main__illustration {
    width: 350px;
  }
  .main__container__jumbotron__overlay__heading {
    font-size: 24px;
  }
  .main__container__jumbotron__overlay__para {
    font-size: 18px;
  }
}
