.main__container__jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  width: 100%;
  position: relative;
}
.main__container__jumbotron__main__bg {
  width: 100%;
  background-size: cover;
}
.main__illustration {
  width: 800px;
}
.main__container__jumbotron__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 1440px;
}
.main__container__jumbotron__overlay__heading {
  font-size: 30px;
  color: $darkText;
  font-weight: 600;
  margin-bottom: 0.2em;
}
.main__container__jumbotron__overlay__heading span {
  color: $primary;
}
.main__container__jumbotron__overlay__para {
  font-size: 22px;
  color: $darkText;
}
.services__container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__container__card__wrapper {
  width: 300px;
  display: flex;
  height: 280px;
  background-color: $disabled;
  border-radius: 25px;
  padding: 2em;
  position: relative;
  cursor: pointer;
}
.services__container__card__wrapper:hover
  .services__container__card__wrapper__svg__hover {
  display: flex;
  transition: 300ms ease-in-out;
}

.services__container__card__wrapper:hover {
  background: $gradientGreen;
  transform: scale(1.03);
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}
.services__container__card__wrapper:hover .services__container__card__text {
  color: $whiteText;
}
.services__container__card__wrapper__svg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services__container__card__wrapper__svg__hover {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.services__container__card__text {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: 18px;
  font-weight: bold;
}
.services__container__content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__container__cards__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.addons__container {
  width: 100%;
  height: 600px;
  position: relative;
}
.addons__container__img {
  width: 100%;
  height: 100%;
}
.addons__container__content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0em 2em;
  background: linear-gradient(#ffffff, transparent, #ffffff);
}
.addons__container__content__heading {
  font-size: 25px;
  color: $primaryDark;
  font-weight: bold;
  position: relative;
  margin-bottom: 3em;
  max-width: 200px;
}
.addons__container__content__heading::after {
  content: "";
  background: $gradientGreen;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
}
.addons__container__content__cards {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.addons__container__content__card {
  width: 33%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 280px;
  background: $gradientBlack;
  border-radius: 25px;
  padding: 2em;
  position: relative;
  cursor: pointer;
}
.addons__container__content__card:hover {
  background: $gradientGreen;
  transform: scale(1.03);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  transition: 300ms ease-in-out;
}
.addons__container__content__card__svg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.addons__container__content__card__svg__hover {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addons__container__content__card__text {
  text-align: center;
  align-self: flex-end;
  color: $whiteText;
  font-size: 16px;
  font-weight: bold;
  max-width: 80%;
}
.addons__container__content__card__svg {
  width: 120px;
}
.welcome__container {
  position: relative;
  width: 100%;
  height: 550px;
}
.welcome__container__img {
  width: 100%;
  height: 100%;
}
.welcome__container__content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome__container__content__img {
  width: 600px;
}
.welcome__container__content__gradiant {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(transparent, transparent, #0a5f58a8, #0a5f58);
}
.welcome__container__content__gradiant__content {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
}
.welcome__container__content__gradiant__content__heading {
  font-size: 25px;
  color: $whiteText;
  font-weight: 600;
  margin-bottom: 0.2em;
}
.welcome__container__content__gradiant__content__sub__heading {
  font-size: 16px;
  color: $whiteText;
  margin-bottom: 0.2em;
  max-width: 800px;
  text-align: center;
}
.outcomes__container {
  width: 100%;
  height: fit-content;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outcomes__container__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}
.outcomes__container__content__headings__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4em 0em;
}
.outcomes__container__content__heading {
  font-size: 25px;
  color: $primary;
  font-weight: 600;
  margin-bottom: 0.2em;
}
.outcomes__container__content__para {
  font-size: 16px;
  color: $darkText;
}
.outcomes__container__content__card {
  width: 250px;
  display: flex;
  height: 250px;
  background-color: $disabled;
  border-radius: 25px;
  padding: 2em;
  position: relative;
  cursor: pointer;
}
.outcomes__container__content__card:hover
  .outcomes__container__content__card__svg__hover {
  display: flex;
  transition: 300ms ease-in-out;
}

.outcomes__container__content__card:hover {
  background: $gradientGreen;
  transform: scale(1.03);
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}
.outcomes__container__content__card:hover
  .outcomes__container__content__card__text {
  color: $whiteText;
}
.outcomes__container__content__card__text {
  font-size: 16px;
  color: $darkText;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: center;
}
.outcomes__container__content__card__svg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outcomes__container__content__card__svg__hover {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.outcomes__container__content__cards__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2em 0em;
}
.parameters__container {
  width: 100%;
  height: fit-content;
  min-height: 600px;
  position: relative;
}
.parameter__container__bg {
  width: 100%;
  height: 600px;
}
.parameters__container__content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parameters__container__content__headings__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.parameters__container__content__headings {
  font-size: 25px;
  color: $primary;
  font-weight: 600;
  margin-bottom: 0.3em;
}
.parameters__container__content__para {
  font-size: 16px;
  color: $whiteText;
}
.parameters__container__content__entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 130px;
  margin-top: 2em;
  margin-right: 2em;
}
.parameters__container__content__entries__wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.parameters__container__content__entry__svg {
  margin-bottom: 1em;
}
.parameters__container__content__entry__text {
  font-size: 16px;
  font-weight: 600;
  color: $whiteText;
}
.why__choose__us__container {
  width: 100%;
  height: fit-content;
  min-height: 600px;
  position: relative;
}
.why__choose__us__bg {
  width: 100%;
  height: 100%;
}
.why__choose__us__container__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.why__choose__us__container__content {
  position: absolute;
  z-index: 99;
  top: -6em;
  width: 65%;
  border-radius: 25px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  height: fit-content;
  min-height: 500px;
  padding: 4em;
  background-color: $whiteText;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why__choose__us__container__content__heading__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why__choose__us__container__content__heading {
  font-size: 25px;
  color: $primary;
  font-weight: 600;
}
.why__choose__us__container__content__card {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.why__choose__us__container__content__card__heading {
  font-size: 18px;
  color: $darkText;
  font-weight: 600;
  margin: 0.5em 0em;
}
.why__choose__us__container__content__card__para {
  font-size: 15px;
  color: $darkText;
}
.why__choose__us__container__content__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 6em 0em;
}
@media (max-width: 1250px) {
  .why__choose__us__container__content {
    width: 80%;
  }
  .parameters__container__content__entries__wrapper {
    padding: 0em 2em;
  }
  .services__container__card__wrapper {
    width: 230px;
  }
  .services__container__cards__container {
    padding: 0em 2em;
  }
}
@media (max-width: 1000px) {
  .why__choose__us__container__content {
    width: 85%;
  }
  .outcomes__container__content__card {
    width: 200px;
  }
  .outcomes__container__content {
    padding: 0em 2em;
  }
  .outcomes__container__content__cards__container {
    margin: 1em 0em;
  }
  .services__container__cards__container {
    flex-wrap: wrap;
  }
  .services__container__card__wrapper {
    width: 45%;
    margin-top: 2em;
  }
  .services__container {
    height: 800px;
  }
  .addons__container__content__card {
    flex: 1;
    margin-right: 2em;
  }
  .addons__container__content__card:last-child {
    margin-right: 0em;
  }
}
@media (max-width: 900px) {
  .outcomes__container__content__cards__container {
    margin: 1em 0em;
    flex-wrap: wrap;
  }
  .outcomes__container__content__card {
    width: 40%;
    margin-top: 2em;
  }
}
@media (max-width: 800px) {
  .addons__container {
    height: 1000px;
  }
  .addons__container__content__cards {
    flex-direction: column;
    height: 100%;
    max-width: 100%;
  }
  .addons__container__content__card {
    max-width: 100%;
    width: 100%;
    margin-right: 0em;
    margin-bottom: 2em;
  }
}
@media (max-width: 750px) {
  .parameters__container {
    height: 700px;
  }
  .parameters__container__content__entry {
    margin-top: 0;
    width: 100px;
  }
  .parameters__container__content__headings__container {
    margin-bottom: 4em;
  }
}
@media (max-width: 700px) {
  .outcomes__container__content__card__svg svg {
    width: 60px;
  }
  .why__choose__us__container__content__wrapper {
    flex-direction: column;
  }
  .why__choose__us__container__content__card {
    width: 100%;
    margin-top: 3em;
  }
  .parameters__container__content__entry {
    margin-top: 3em;
  }
  .parameters__container__content__headings__container {
    margin-bottom: 0px;
  }
  .welcome__container__content__gradiant__content {
    min-width: 100%;
    margin-bottom: 4em;
  }
}
@media (max-width: 620px) {
  .outcomes__container__content__cards__container {
    flex-direction: column;
  }
  .outcomes__container__content__card {
    width: 100%;
  }
  .services__container__content {
    justify-content: center;
    align-items: center;
  }
  .services__container {
    height: 1500px;
  }
  .main__illustration {
    width: 500px;
  }
  .services__container__card__wrapper {
    width: 100%;
  }
  .parameters__container__content {
    height: 700px;
  }
  .parameters__container__content__entry {
    margin-top: 1.5em;
    width: 70px;
  }
}
@media (max-width: 500px) {
  .parameters__container__content {
    height: 700px;
  }
  .parameters__container__content__entry {
    margin-top: 2em;
    width: 50px;
  }
  .parameters__container__content__entry__svg svg {
    width: 50px;
  }
  .parameters__container__content__entry__text {
    font-size: 12px;
  }
  .parameters__container__content__headings {
    font-size: 15px;
  }
  .parameters__container__content__para {
    font-size: 12px;
  }
  .parameters__container__content__headings__container {
    margin-bottom: 0em;
  }
  .main__container__jumbotron {
    height: 600px;
  }
  .main__illustration {
    width: 350px;
  }
  .main__container__jumbotron__overlay__heading {
    font-size: 24px;
  }
  .main__container__jumbotron__overlay__para {
    font-size: 18px;
  }
  .welcome__container__content__img {
    width: 400px;
  }
  .welcome__container__content__gradiant__content {
    padding: 0em 2em;
  }
}
